@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.sign-up-form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  width: 20%;
  margin-top: 10%;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}